In [6]:
import numpy as np
import pandas as pd
import pickle


path_to_data = '/Users/eresther/Documents/Work/multitask-context-dependent-behavior/data'

In [7]:
E = pd.read_pickle(f'{path_to_data}/meta/EVENTSinfo.pkl')
E

                                          Session  TrialNum  Position  \
Session             EventNum
ath011b03_p_PTD     0             ath011b03_p_PTD         1         0
                    1             ath011b03_p_PTD         1         1
                    2             ath011b03_p_PTD         1         2
                    3             ath011b03_p_PTD         1         3
                    4             ath011b03_p_PTD         1         4
...                                           ...       ...       ...
morbier022h07_p_CLK 372739    morbier022h07_p_CLK        31         2
                    372740    morbier022h07_p_CLK        31         3
                    372741    morbier022h07_p_CLK        31         4
                    372742    morbier022h07_p_CLK        31         5
                    372743    morbier022h07_p_CLK        31         6

                                 StimTimes  DStim  DPre  DPost Stimulus  \
Session             EventNum
ath011b03_p_PTD     0           (0.4, 1.4)    1.0   0.4  1.200        0
                    1           (2.6, 3.6)    1.0   1.2  1.200        R
                    2           (4.8, 5.8)    1.0   1.2  1.200        R
                    3           (7.0, 8.0)    1.0   1.2  1.200        R
                    4          (9.2, 10.2)    1.0   1.2  1.200        R
...                                    ...    ...   ...    ...      ...
morbier022h07_p_CLK 372739      (6.8, 8.8)    2.0   1.2  1.200        R
                    372740    (10.0, 12.0)    2.0   1.2  1.200        R
                    372741    (13.2, 15.2)    2.0   1.2  1.200        R
                    372742    (16.4, 18.4)    2.0   1.2  1.200        R
                    372743    (19.6, 21.6)    2.0   1.2  0.801        R

                              Valid Index  EventNum Task Area
Session             EventNum
ath011b03_p_PTD     0          True  None         0  PTD   A1
                    1          True  None         1  PTD   A1
                    2          True  None         2  PTD   A1
                    3          True  None         3  PTD   A1
                    4          True  None         4  PTD   A1
...                             ...   ...       ...  ...  ...
morbier022h07_p_CLK 372739     True  None    372739  CLK   A1
                    372740     True  None    372740  CLK   A1
                    372741     True  None    372741  CLK   A1
                    372742     True  None    372742  CLK   A1
                    372743     True  None    372743  CLK   A1

[372744 rows x 13 columns]

In [9]:
sample_csv = pd.read_csv(f'{path_to_data}/samples/avo052a05_a_PTD_c1.csv')
sample_csv

,1,1.1,1.2,1.3,1.4,1.5,1.6,1.7,1.8,1.9,...,38.44,38.45,38.46,38.47,38.48,38.49,38.50,38.51,38.52,38.53
0,8579,10257,11262,24933,30121,30763,31305,31449,33448,53044,...,203848,204548,205660,206198,206754,207862,208461,215970,216285,232044